@keyframes border-dance {
  0% {
    background-position: 0px 0px, 0px 100%, 0px 0px, 100% 0px;
  }
  100% {
    background-position: 30px 0px, -30px 100%, 0px -30px, 100% 30px;
  }
}

@keyframes card-creation {
  from {
    transform: translateY(20vh);
  }
  to {
    transform: translate(0,0);
  }
}

@keyframes room-button-creation {
  from {
    transform: translateX(-30vh);
    opacity: 0;
  }
  to {
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    filter: brightness(0);
  }
  50% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0);
  }
}

button, input[type=button]{
  cursor: pointer;
  background-color: rgb(200,200,200);
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

button[disabled], input[type=button][disabled]{
  color: gray;
  cursor: not-allowed;
}

button:hover, input[type=button]:hover{
  background-color: white;
}

button[disabled]:hover, input[type=button][disabled]:hover{
  background-color: lightgray;
}

input[type=text] {
  background-color: black;
  color: lightgray;
  transition: 0.3s;
}
input[type=text]:focus {
  background-color: white;
  color: black;
}

.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width:  100vw;
}

.screencover {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.applogo {
  width: auto;
  height: 40vh;
  margin: 15vh;
}

.credits {
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.statusbox {
  position: fixed;
  left: 5vw;
  top: 5vw;
  bottom: auto;
  right: auto;
  height: 1em;
  padding: 0.5em;
  border: gray solid 1px;
}

.stickied {
  position:  sticky;
  border: 2px dashed rgba(0,0,0,0.5);
}
.card {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
}

.talon-grid {
  position: absolute;
  height: 30vh;
  width: 100vw;
  top: 30vh;
  left: 0;
  background-color: gray;
  z-index: 1;
}

.player-hand {
  position: absolute;
  height: 21vh;
  width: 100vw;
  bottom: 0;
  left: 0;
}

.selectborder[hide]::before {
  display: none;
}

.selectborder::before {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  top: -4px;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  background: linear-gradient(90deg, red 50%, transparent 50%), linear-gradient(90deg, red 50%, transparent 50%), linear-gradient(0deg, red 50%, transparent 50%), linear-gradient(0deg, red 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0px 0px, 0px 100%, 0px 0px, 100% 0px; /* TOP BOTTOM LEFT RIGHT */
  padding: 0px;
  animation: border-dance 2s infinite linear;
}

.player.spectate:hover::before {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  top: -4px;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  background: linear-gradient(90deg, red 50%, transparent 50%), linear-gradient(90deg, red 50%, transparent 50%), linear-gradient(0deg, red 50%, transparent 50%), linear-gradient(0deg, red 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0px 0px, 0px 100%, 0px 0px, 100% 0px; /* TOP BOTTOM LEFT RIGHT */
  padding: 0px;
  animation: border-dance 2s infinite linear;
  transition:  0.5s;
}

.player.spectate:hover {
  cursor: pointer;
  background-color: rgba(255,0,0,0.1);
}

.crdcontainer {
  position: absolute;
  height: 22vh;
  width: 15.4vh; /* Fixed calculated */
  transition: 0.4s;
  cursor: pointer;
  border: 1px black solid;
  z-index: 1;
}

.crdcontainer:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}

.pointscard {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  z-index: 6;
  font-size: 5vh;
  font-weight: bold;
  transform: scaleX(0);
  height: 20vh;
  width: 14vh;
  left: calc(50vw - 7vh);
  bottom: 42.5vh;
  border: 2px solid darkgray;
  -webkit-box-shadow: 0px 0px 18px 3px #FFFFFF; 
  box-shadow: 0px 0px 18px 3px #FFFFFF;
}

.allclear {
  position: fixed;
  height: 30vh;
  width: 100vw;
  top: 30vh;
  left: 0;
  font-weight: bold;
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  z-index: 10;
  opacity: 0;
  transform: scaleX(0);
  font-size: 15vh;
  text-shadow: 0px 0px 20px #FFFFFF;
}

.dialog {
  padding: 2vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 29vw;
  top: 40vh;
  bottom: 40vh;
  z-index: 6;
  background: white;
  color: black;
  text-align: center;
  border: solid 5px gray;
  border-radius: 5px;
  height: 20vh;
  width: 40vw;
  transition: 0.5s ease;
}

.closedialog {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

.closedialog:hover {
  background-color: white;
}

.player {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 2px dashed gray;
  position: fixed;
  width: 13vh;
  height: 13vh;
}

.north {
  right: auto;
  left: calc(10vw + 14vh);
  top: 13vh;
}
.south {
  right: 10vw;
  bottom: 10vh;
}

.east {
  left: 10vw;
  top: 15vh;
}

.west {
  right: auto;
  left: calc(10vw + 28vh);
  top: 15vh;
}

.pushaction {
  position: absolute;
  top: 61vh;
  right: 20vw;
  left: 20vw;
  height: auto;
  width: 60vw;
  border: 1px solid black;
  transition: none;
  z-index: 3;
}

.sectionlabel {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 15vh;
  font-weight: bold;
  color: rgba(0,0,0,0.1);

}

.pushaction:hover {
  background: white;
}

.spectating {
  position: absolute;
  top: 61vh;
  right: 20vw;
  left: 20vw;
  height: auto;
  width: auto;
  font-size: 5vh;
  z-index: 3;
  color: rgb(200,200,200);
  animation: pulse 0.7s infinite;
}

.roombutton {
  border: 2px dashed black;
  text-align: left;
  height: 100px;
  display: flex;
  flex-direction: row;
  background-color: gray;
  transition: 0.5s;
  transform: translate(0);
  cursor: pointer;
}

.roombutton:hover {
  background-color: darkgreen;
  transform: translate(7px, -7px);
}

.roombutton.nojoin:hover{
  background-color: #8b0000;
}

.roominfo {
  flex-grow: 3;
  background-color: darkgray;
  color: white;
  clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
  padding-left: 10px;
  height: 100%;
  transition: 0.5s;
}

.roombutton:hover > .roominfo {
  background-color: green;
}
.roombutton.nojoin:hover > .roominfo {
  background-color: red;
}

.roomstats {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.roombutton:hover > .roomstats {
  color: white;
}

.roomscroll {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.rbwrapper {
  transition: 0.4s;
  background-color: rgb(50,50,50);
  width: 80%;
  margin: auto;
  margin-top: 10px;
  animation: room-button-creation 0.4s ease-out;
}

.turnindicator {
  position: absolute;
  top: 15vh;
  right: 0;
  font-size: 5vh;
  color: rgb(170,170,170);
  z-index: 4;
}

.turnindicator.current{
  font-weight: bold;
  color: black;
}

.turntimer {
  position: absolute;
  top: 20vh;
  right: 0;
  font-size: 10vh;
  font-weight: bold;
  color: rgb(140,140,140);
  z-index: 4;
}


.turntimer.current {
  color: black;
}

.stats {
  display: flex;
  flex-grow: 2;  
  flex-direction: column;
}

.pointcounter {
  font-size: 2vh;
}

.cardcount {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 2vh;
  font-size: 2vh;
}

.pcnum {
  font-weight: bold;
  font-size: 6vh;
}

.cdisplay {
  height: 100%;
}

.carddata {
  width: 50%;
  text-align: center;
  flex-grow: 2;
}

.cdisplay {
  margin-left: 1vh;
}

.chatinput {
  position: relative;
  width: calc(100% - 1em);
  padding: 0.5em;
  left: 0;
}

.chatarea {
  position: fixed;
}

.chatarea.lobby {
  bottom: calc(1em + 5px);
  left: 5vw;
  right: 5vw;
  width: auto;
  height: 25vh;
}

.chatarea.ingame {
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 2em;
  z-index: 10;
}

.chatform {
  display:flex;
  flex-direction: row;
}

.chatopenclose {
  flex-shrink: 1;
  background-color:;
}

.chatlogs {
  background-color: rgba(0,0,0,0.75);
  color: white;
  z-index: 15;
  border: 1px solid black;
  transition: 0.5s;
}

.chatlogs.lobby {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 20vh;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
}

.chatlogs.ingame {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 20vh;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chatlogs::-webkit-scrollbar {
  display: none;
}

.message {
  padding-left: 1em;
  padding-right: 0.5em;
  width: calc(100% - 1.5em);
  height: auto;
  font-size: 0.8em;
  flex-shrink: 1;
  text-align: left;
}



.message.new {
  animation: room-button-creation 0.2s ease-out;
}

.exitbutton {
  position: fixed;
  right: 2vw;
  top: 0em;
  z-index: 10;
}

.pointtable {
 left: 0;
 right: 0;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}

.pointtable tr {
  border: 1px solid black;
}

.cheatsheet {
  position: fixed;
  top: 2em;
  width: auto;
  height: auto;
  right: 0;
  z-index: 6;
  text-align: right;
  justify-content: right;
}

.csnavsup {
  display: flex;
  flex-direction: row-reverse;
  position: static;
  width: 100%;
  transition: 0.5s;
}

.csopen {

}

.csnavsub {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
  justify-content: right;
}

.cstabcontent {
  margin-left: auto;
  margin-right: 0;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
  transition: 0.5s;
  border: 1px black solid;
  height: 30vh;
  width: 50vw;
  background-color: rgba(0,0,0,0.5);
  color: white;
  z-index: 6;
}

.blue {
  border-color: blue;
  background-color: rgba(0,0,255,0.2);
}
.red {
  border-color: red;
  background-color: rgba(255,0,0,0.2);
}

@media only screen and (max-aspect-ratio: 1/1) {
  .applogo {
    height: auto;
    width: 60vw;
  }

  .credits {
    bottom: 2.5em;
  }
  
  .player-hand {
    left: 0;
    width: 100vw;
    height: 30vh;
  }
  
  .north {
    left: 33vw;
    right: 33vw;
    top: 18vh;
    width: 34vw;
    height: 10vh;
  }


  .south {
    right: 2vw;
    bottom: 2vh;
    width: 25vw;
    height: 13vh;
  }
  .east {
    left: 0vw;
    right: auto;
    top: 18vh;
    width: 32vw;
    height: 10vh;

  }

  .west {
    left: auto;
    right: 0vw;
    top: 18vh;
    width: 32vw;
    height: 10vh;
  }

  .turnindicator {
    position: relative;
    top: 2em;
    font-size: 1em;
  }

  .turntimer {
    position: relative; 
    top: 0.3em;
    font-size: 4em;
  }
  
  .chatarea.lobby {
    bottom: 2.5em;
  }

  .statusbox {
    bottom: 0;
    width: auto;
    left: 0;
    right: 0;
    top: auto;
  }

  .cardcount {
    position: initial;
    text-align: center;
    flex-direction:  column;
    align-items: stretch;
    flex-grow: 10;
    padding-left: 1vw;
    height: 100%;
  }

  .south .cardcount {
    text-align: left;
    flex-direction:  row;
    flex-grow: 10;
    padding-top: 0;
  }

  .carddata {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .cdisplay {
    height: 1em;
  }

  .south .pointcounter {
    flex-shrink: 1;
    padding-left: 0;
  }

  .south .stats {
    flex-direction: column;
  }

  .stats {
    flex-direction: row;
    height: auto;
  }

  .cstabcontent {
  width: 100vw;
  }
}
