@keyframes border-dance {
  0% {
    background-position: 0px 0px, 0px 100%, 0px 0px, 100% 0px;
  }
  100% {
    background-position: 30px 0px, -30px 100%, 0px -30px, 100% 30px;
  }
}

@keyframes card-creation {
  from {
    transform: translateY(20vh);
  }
  to {
    transform: translate(0,0);
  }
}

@keyframes room-button-creation {
  from {
    transform: translateX(-30vh);
    opacity: 0;
  }
  to {
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    color: initial;
  }

  50% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: initial;
  }
}

button, input[type=button]{
  cursor: pointer;
  background-color: rgb(200,200,200);
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

button[disabled], input[type=button][disabled]{
  color: gray;
}

button:hover, input[type=button]:hover{
  background-color: white;
}

button[disabled]:hover, input[type=button][disabled]:hover{
  background-color: lightgray;
}

input[type=text] {
  background-color: black;
  color: lightgray;
  transition: 0.3s;
}
input[type=text]:focus {
  background-color: white;
  color: black;
}

.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
}

.screencover {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 95vh;
  z-index: 5;
}

.applogo {
  transition: 0.5s;
  width: auto;
  height: 40vh;
  margin: 15vh;
}

.credits {
  transition: 0.5s;
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.statusbox {
  position: fixed;
  left: 5vw;
  top: 5vw;
  bottom: auto;
  right: auto;
  height: 1em;
  padding: 0.5em;
  border: gray solid 1px;
  transition: 0.3s;
}

.card {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.talon-grid {
  position: absolute;
  height: 30vh;
  width: 100vw;
  top: 30vh;
  left: 0;
  transition: 0.3s;
  background-color: gray;
}

.player-hand {
  position: absolute;
  height: 21vh;
  width: 31vw;
  bottom: 0;
  left: 19vw;
  transition: 0.3s;
}

.selectborder[hide]::before {
  display: none;
}

.selectborder::before {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  top: -4px;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  background: linear-gradient(90deg, red 50%, transparent 50%), linear-gradient(90deg, red 50%, transparent 50%), linear-gradient(0deg, red 50%, transparent 50%), linear-gradient(0deg, red 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0px 0px, 0px 100%, 0px 0px, 100% 0px; /* TOP BOTTOM LEFT RIGHT */
  padding: 0px;
  animation: border-dance 2s infinite linear;
}

.crdcontainer {
  position: absolute;
  height: 20vh;
  width: 14vh; /* Fixed calculated */
  transition: 0.4s;
  cursor: grab;
  border: 1px black solid;
  animation: card-creation 0.4s ease-out;
  z-index: 1;
}

.crdcontainer:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}

.dialog {
  padding: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 30vw;
  top: 40vh;
  bottom: 40vh;
  z-index: 6;
  background: white;
  color: black;
  text-align: center;
  border: solid 5px gray;
  border-radius: 5px;
  height: 20vh;
  width: 40vw;
  transition: 0.5s ease;
}

.closedialog {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

.closedialog:hover {
  background-color: white;
}

.player {
  text-align: left;
  border: 2px dashed gray;
  position: fixed;
  width: 100px;
  height: 100px;
  transition: 0.5s;
}

.player:hover {
  border: 3px solid red;
}
.north {
  right: auto;
  left: calc(10vw + 110px);
  top: calc(30vh - 130px);
}
.south {
  right: 10vw;
  bottom: 10vh;
}

.east {
  left: 10vw;
  top: calc(30vh - 120px);
}

.west {
  right: auto;
  left: calc(10vw + 220px);
  top: calc(30vh - 120px);
}

.pushaction {
  position: absolute;
  top: 61vh;
  right: 20vw;
  left: 20vw;
  height: auto;
  width: 60vw;
  border: 1px solid black;
  transition: 0.5s;
  z-index: 3;
}

.pushaction:hover {
  background: white;
}

.spectating {
  position: absolute;
  top: 61vh;
  right: 20vw;
  left: 20vw;
  height: auto;
  width: auto;
  font-size: 5vh;
  transition: 0.5s;
  z-index: 3;
  color: rgb(200,200,200);
  animation: pulse 0.7s infinite;
}

.roombutton {
  border: 2px dashed black;
  text-align: left;
  height: 100px;
  display: flex;
  flex-direction: row;
  background-color: gray;
  transition: 0.5s;
  transform: translate(0);
  cursor: pointer;
}

.roombutton:hover {
  background-color: darkgreen;
  transform: translate(7px, -7px);
}

.roombutton.nojoin:hover{
  background-color: #8b0000;
}

.roominfo {
  flex-grow: 3;
  background-color: darkgray;
  color: white;
  clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
  padding-left: 10px;
  height: 100%;
  transition: 0.5s;
}

.roombutton:hover > .roominfo {
  background-color: green;
}
.roombutton.nojoin:hover > .roominfo {
  background-color: red;
}

.roomstats {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: right;
  transition: 0.5s;
}

.roombutton:hover > .roomstats {
  color: white;
}

.rbwrapper {
  transition: 0.4s;
  background-color: rgb(50,50,50);
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  animation: room-button-creation 0.4s ease-out;
}

.turnindicator {
  position: absolute;
  top: calc(30vh - 3em);
  right: 0;
  font-size: 2.5em;
  color: rgb(170,170,170);
  transition: 0.5s;
}

.turnindicator.current{
  font-weight: bold;
  color: black;
}

.turntimer {
  position: absolute;
  top: calc(30vh - 1em);
  right: 0;
  font-size: 5em;
  font-weight: bold;
  color: rgb(140,140,140);
  transition: 0.5s;
}


.turntimer.current {
  color: black;
}

.stats {
  display: flex;
  height: auto;
  flex-direction: column;
}
.chatinput {
  position: relative;
  width: calc(100% - 1em);
  padding: 0.5em;
  left: 0;
}

.chatarea {
  position: fixed;
  transition: 0.5s;
}

.chatarea.lobby {
  bottom: calc(1em + 5px);
  left: 5vw;
  right: 5vw;
  width: auto;
  height: 25vh;
}

.chatarea.ingame {
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 2em;
  z-index: 4;
}

.chatform {
  display:flex;
  flex-direction: row;
}

.chatopenclose {
  flex-shrink: 1;
  background-color:;
}

.chatlogs {
  background-color: rgba(0,0,0,0.5);
  color: white;
  z-index: 5;
  border: 1px solid black;
  transition: 0.5s;
}

.chatlogs.lobby {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 20vh;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
}

.chatlogs.ingame {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 20vh;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
}
/*
.chatlogfade {
  position: relative;
  transition: 0.1s;
}
.chatlogfade.lobby {
  height: 3vh;
  width: 90vw;
  top: -3vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, lightgray 50%, lightgray 100%);
}
.chatlogfade.ingame {
  height: 5vh;
  width: 100vw;
  top: -4vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, lightgray 30%, lightgray 70%, rgba(0,0,0,0) 100%);
}
*/
.message {
  padding-left: 1em;
  padding-right: 0.5em;
  width: calc(100% - 1.5em);
  height: auto;
  font-size: 0.8em;
  flex-shrink: 1;
  text-align: left;
  transition: 0.4s;
}

.message.new {
  animation: room-button-creation 0.2s ease-out;
}

.exitbutton {
  position: fixed;
  right: 2vw;
  top: 0em;
}

.pointtable {
 left: 0;
 right: 0;
 margin-left: auto;
 margin-right: auto;
 width: 70%;
}

@media only screen and (max-aspect-ratio: 1/1) {
  .applogo {
    height: auto;
    width: 60vw;
  }

  .credits {
    bottom: 2.5em;
  }
  
  .player-hand {
    left: 19vw;
    width: 35vw;
    height: 21vh;
  }
  
  .north {
    left: 33vw;
    right: 33vw;
    top: 18vh;
    width: 34vw;
    height: 10vh;
  }


  .south {
    right: 2vw;
    bottom: 2vh;
    width: 25vw;
    height: 15vh;
  }
  .east {
    left: 0vw;
    right: auto;
    top: 18vh;
    width: 32vw;
    height: 10vh;

  }

  .west {
    left: auto;
    right: 0vw;
    top: 18vh;
    width: 32vw;
    height: 10vh;
  }

  .turnindicator {
    position: relative;
    top: 2em;
    font-size: 1em;
  }

  .turntimer {
    position: relative; 
    top: 0.3em;
    font-size: 4em;
  }
  
  .chatarea.lobby {
    bottom: 2.5em;
  }

  .statusbox {
    bottom: 0;
    width: auto;
    left: 0;
    right: 0;
    top: auto;
  }

  .cardcount {
    text-align: center;
    flex-grow: 10;
    padding-top: 3.5vh;
  }

  .south .pointcounter {
    flex-shrink: 1;
    padding-left: 0;
  }

  .stats {
    flex-direction: row;
  }

  .
  .south.player .stats {
    flex-direction: column
  }
}
