@keyframes border-dance {
  0% {
    background-position: 0px 0px, 0px 100%, 0px 0px, 100% 0px;
  }
  100% {
    background-position: 30px 0px, -30px 100%, 0px -30px, 100% 30px;
  }
}

@keyframes card-creation {
  from {
    transform: translateY(20vh);
  }
  to {
    transform: translate(0,0);
  }
}

@keyframes room-button-creation {
  from {
    transform: translateX(-30vh);
    opacity: 0;
  }
  to {
    transform: translate(0,0);
    opacity: 1;
  }
}

button {
  cursor: pointer;
  background-color: lightgray;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: white;
}

.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
}

.statusbox {
  position: fixed;
  left: 5vw;
  top: 5vh;
  height: 1em;
  padding: 0.5em;
  border: gray solid 1px;
}
.card {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

.talon-grid {
  position: absolute;
  height: 30vh;
  width: 100vw;
  top: 25vh;
  left: 0;
  transition: 0.3s;
  background-color: gray;
}

.player-hand {
  position: absolute;
  height: 30%;
  width: 40%;
  bottom: 0;
  left: 30%;
}

.selectborder[hide]::before {
  display: none;
}

.selectborder::before {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  top: -4px;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  background: linear-gradient(90deg, red 50%, transparent 50%), linear-gradient(90deg, red 50%, transparent 50%), linear-gradient(0deg, red 50%, transparent 50%), linear-gradient(0deg, red 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0px 0px, 0px 100%, 0px 0px, 100% 0px; /* TOP BOTTOM LEFT RIGHT */
  padding: 0px;
  animation: border-dance 2s infinite linear;
}

.crdcontainer {
  position: absolute;
  height: 30vw;
  width: 21vw; /* Fixed calculated */
  transition: 0.4s;
  cursor: grab;
  border: 1px black solid;
  animation: card-creation 0.4s ease-out;
}

.crdcontainer:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}

.dialog {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 15vw;
  top: 40vh;
  bottom: 40vh;
  z-index: 2;
  background: white;
  color: black;
  text-align: center;
  border: solid 5px gray;
  border-radius: 5px;
  height: 20vh;
  width: 40vh;
  transition: 0.5s ease;
}

.closedialog {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

.closedialog:hover {
  background-color: white;
}

.player {
  text-align: left;
  border: 2px dashed gray;
  position: fixed;
  width: 100px;
  height: 100px;
}

.north {
  left: 5%;
  top: 7%;
}
.south {
  bottom: 7%;
  right: 5%;
}

.pushaction {
  position: absolute;
  bottom: 28vh;
  width: 30vw;
  left: 35vw;
  border: 1px solid transparent;
  transition: 0.5s;
}

.pushaction:hover {
  background: white;
}

.roombutton {
  border: 2px dashed black;
  text-align: left;
  height: 100px;
  display: flex;
  flex-direction: row;
  background-color: gray;
  transition: 0.5s;
  transform: translate(0);
}

.roombutton:hover {
  background-color: darkgreen;
  transform: translate(7px, -7px);
}

.roombutton.nojoin:hover{
  background-color: #8b0000;
}

.roominfo {
  flex-grow: 3;
  background-color: darkgray;
  color: white;
  clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
  padding-left: 10px;
  height: 100%;
  transition: 0.5s;
}

.roombutton:hover > .roominfo {
  background-color: green;
}
.roombutton.nojoin:hover > .roominfo {
  background-color: red;
}

.roomstats {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: right;
  transition: 0.5s;
}

.roombutton:hover > .roomstats {
  color: white;
}

.rbwrapper {
  background-color: rgb(50,50,50);
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  animation: room-button-creation 0.4s ease-out;
}

.turnindicator {
  font-size: 5vh;
  color: rgb(170,170,170);
  transition: 0.5s;
}

.turnindicator.current{
  font-weight: bold;
  color: black;
}

.turntimer {
  font-size: 10vh;
  font-weight: bold;
  color: rgb(140,140,140);
  transition: 0.5s;
}

.turntimer.current {
  color: black;
}

@media only screen and (min-width: 600px) {
  .crdcontainer {
    height: 25vh;
    width: 17.5vh;
  }

  .pushaction {
    bottom: 35vh;
  }

  .talon-grid {
    top: 30vh;
  }

  .north {
    left: 10%;
    top: 10%;
  }
  .south {
    right: 10%;
    bottom: 10%;
  }
}
